body {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.marquee {
  overflow: hidden;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  background-color: #121212;
}
@media screen and (min-width: 768px) {
  .marquee {
    font-size: 40px;
    line-height: 1.25px;
  }
}
@media screen and (min-width: 1158px) {
  .marquee {
    font-size: 59px;
    line-height: 1.08px;
  }
}

.marquee-inner {
  display: flex;
}

.marquee-line {
  flex-shrink: 0;
  margin: 0;
  min-width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  white-space: nowrap;
  animation-name: marqueeLine;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  color: #bea69e;
}
@media screen and (min-width: 768px) {
  .marquee-line {
    max-width: 840px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .marquee-line {
    max-width: 1239px;
  }
}
.deco-span {
  color: #ffffff;
}
@keyframes marqueeLine {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}
