/*Marquee*/
body {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.marquee {
  overflow: hidden;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 28px;
  text-transform: uppercase;
  background-color: #121212;
}

.marquee-inner {
  display: flex;
}

.marquee-line {
  flex-shrink: 0;
  margin: 0;
  padding: 10px 15px;
  min-width: 100%;
  white-space: nowrap;
  animation-name: marqueeLine;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  color: #bea69e;
}
.deco-span {
  color: #ffffff;
}
@keyframes marqueeLine {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}
/*
Tablet
@media screen and (min-width: 768px) {
  .marquee {
    max-width: 768px;
  }
}
Desktop
@media screen and (min-width: 1158px) {
  .marquee {
    max-width: 1158px;
    padding: 0 15px;
  }
}

Width
width: 588px
height: 72px
top: 947px
left: -106px

font-family: DM Sans;
font-size: 28px;
font-weight: 400;
line-height: 32px;
letter-spacing: -0.02em;
text-align: left;
*/
