/* ===== HERO ======= */

.hero {
  position: relative;
  margin: 0 auto;
  padding: 90px 20px 80px;
  background-image: url(../../img/bg-img/bg-img-desctop.webp);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.hero-bg-img {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0 auto;
  width: 499px;
  height: 947px;
  background-size: cover;
  z-index: -1;
}

@media screen and (min-width: 768px) {
  .hero-bg-img {
    width: 768px;
    height: 1120px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-bg-img {
    width: 1280px;
    height: 909px;
  }
}

@media screen and (min-width: 1440px) {
  .hero-bg-img {
    width: 1440px;
    height: 910px;
  }
}

.hero-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  border-radius: 30px;
  background: #1d1d1d;
}

.hero-title {
  color: #fff;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -0.04em;
  margin: 0 auto;
  margin-bottom: 20px;
}

.hero-title span {
  color: #bea69e;
  font-style: italic;
}

.hero-text {
  color: #fff;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  margin-bottom: 40px;
  max-width: 295px;
}

.hero-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 31px;
}

.hero-list-imag {
  display: flex;
}

.hero-item-imag {
  width: 44px;
  height: 44px;
  border-radius: 100px;
  border: 2px solid #1d1d1d;
}

.hero-item-imag:nth-child(1) {
  position: relative;
  z-index: 3;
}

.hero-item-imag:nth-child(2) {
  position: relative;
  right: 12px;
  z-index: 2;
}

.hero-item-imag:nth-child(3) {
  position: relative;
  right: 24px;
  z-index: 1;
}

.hero-list-text {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.04em;
  width: 67px;
}

.item-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-icon-arrow {
  fill: #fff;
}

.item-star {
  display: flex;
}

.icon-wrap {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #bea69e;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
  color: #121212;
}

.hero-icon-star {
  fill: currentColor;
}

.hero-text-review {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.04em;
  margin-bottom: 5px;
}

.text-review-item {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.12;
  letter-spacing: -0.04em;
}
.hero-img{
    object-fit: contain;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }

  .hero-container {
    padding-top: 64px;
  }

  .hero-title {
    font-size: 60px;
    line-height: 1.07;
    width: 517px;
    margin-left: 0;
    margin-right: auto;
  }

  .hero-title span {
    font-size: 60px;
    line-height: 1.07;
  }

  .hero-text {
    max-width: 418px;
  }

  .hero-list {
    flex-direction: row;
    margin-bottom: 0;
  }

  .hero-list-text {
    width: 82px;
    font-size: 16px;
    line-height: 1.25;
  }

  .hero-item-imag {
    width: 54px;
    height: 54px;
  }

  .item-arrow {
    flex-direction: column;
    margin-right: 40px;
  }

  .icon-wrap {
    width: 50px;
    height: 50px;
  }

  .hero-text-review {
    height: 20px;
    font-size: 16px;
    line-height: 1.25;
  }

  .text-review-item {
    line-height: 1.25;
  }

  .hero-img {
    width: 393px;
    height: 434px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 100px;
  }

  .hero-container {
    position: relative;
    display: flex;
    padding-top: 80px;
  }

  .hero-title {
    font-size: 64px;
    line-height: 1.06;
    width: 563px;
    margin-left: 0;
    margin-right: auto;
  }

  .hero-title span {
    font-size: 64px;
    line-height: 1.06;
  }

  .hero-text {
    margin-bottom: 136px;
  }

  .hero-img {
    position: absolute;
    bottom: 0;
    right: 50px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 100px;
  }

  .hero-img {
    position: absolute;
    bottom: 0;
    right: 100px;
  }
}
