.hide {
    display: none;
}

.section {
    display: flex;
    flex-direction: column;
    padding: 75px 20px;
    max-width: 1440 px;
    margin: 0 auto;
    background-color: #121212;
}

.about-us-container {

    max-width: 375px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .about-us-container {
        max-width: 768px;
        padding: 100px 32px;
    }
}

@media screen and (min-width: 1280px) {
    .about-us-container {
        max-width: 1280px;
        padding: 150px 100px;
    }
}

.about-us-text {
    font-size: 28px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.04em;
    margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
    .about-us-text {
        font-size: 48px;
        font-weight: 500;
        line-height: 1.13;
        letter-spacing: -0.04em;
        margin-bottom: 50px;
    }
}

.about-us-img {
    border-radius: 1000px;
}

@media screen and (min-width: 1280px) {
    .about-us-img {
        max-width: 488px;
    }
}

.about-us-photo {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

@media screen and (min-width: 768px) {
    .about-us-photo {
        gap: 50px;
    }
}

@media screen and (min-width: 1280px) {
    .about-us-photo {
        flex-direction: row;
        gap: 40px;
    }
}

.about-us-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media screen and (min-width: 768px) {
    .about-us-content {
        flex-direction: row;
        gap: 40px;
    }
}

@media screen and (min-width: 1280px) {
    .about-us-content {
        gap: 20px;
    }
}

.about-us-column {
    letter-spacing: -0.02em;
}

@media screen and (min-width: 768px) {
    .about-us-column {
        font-size: 16px;
        line-height: 1.2;
        letter-spacing: -0.02em;
        max-width: 280px;
    }
}

@media screen and (min-width: 1280px) {
    .about-us-column {
        max-width: 268px;
    }
}