/* Common styles */

.our-courses {
    background: #121212;
    padding-top: 40px;
    padding-bottom: 40px;

}

@media only screen and (min-width: 768px) {
    .our-courses {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@media only screen and (min-width: 1280px) {
    .our-courses {
        padding-top: 75px;
        padding-bottom: 75px;

    }
}


/* Our Courses */
.our-courses-top {}

@media only screen and (min-width: 768px) {
    .our-courses-top {
        display: flex;
        justify-content: space-between;

    }
}

.our-courses-title {
    color: #BEA69E;
    font-family: DM Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.04em;
    margin-bottom: 20px;

}

@media only screen and (min-width: 768px) {
    .our-courses-title {
        font-size: 48px;
        line-height: 1.13;
        letter-spacing: -0.04em;
        margin-right: 58px;

    }
}

@media only screen and (min-width: 1280px) {
    .our-courses-title {
        margin-right: 410px;
    }
}

.our-courses-title-unique {
    color: #FFF;
    font-family: DM Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.04em;
    padding-right: 6px;
}

@media only screen and (min-width: 768px) {
    .our-courses-title-unique {

        font-size: 48px;
        line-height: 1.13;
        letter-spacing: -0.04em;

    }
}

.our-courses-description {
    max-width: 335px;
    color: #FFF;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.02em;
    margin-bottom: 40px;
}


@media only screen and (min-width: 768px) {
    .our-courses-description {
        max-width: 381px;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: -0.02em;
    }
}

@media only screen and (min-width: 1280px) {
    .our-courses-description {
        max-width: 405px;
    }
}

@media only screen and (min-width: 1440px) {
    .our-courses-description {
        max-width: 565px;
    }
}

.our-courses-list {
    padding-left: 0;
}

@media only screen and (min-width: 768px) {
    .our-courses-list {
        display: flex;
        flex-wrap: wrap;
        row-gap: 20px;
        column-gap: 20px;
    }
}

@media only screen and (min-width: 1280px) {
    .our-courses-list {
        flex-wrap: nowrap;
        justify-content: center;        

    }
}

.our-courses-list-item {
    padding: 88px 28px 28px 28px;
    width: 100%;    
    height: 100%;    
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: linear-gradient(180deg, #060707 0%, #1D1D1D 100%);
    margin-bottom: 20px;
    position: relative;
   
}



@media only screen and (min-width: 768px) {
    .our-courses-list-item {
        padding: 96px 32px 32px 32px;
        width: calc((100% - 20px * 1) / 2);
        margin-bottom: 0;
        gap: 20px;
       
    }
}

@media only screen and (min-width: 1280px) {
    .our-courses-list-item {
        padding: 96px 32px 32px 32px;
        width: calc((100% - 20px * 2) / 3);
        height: 452px;
    }
}


.last-child {
    margin-bottom: 0;
}

.our-courses-list-item-number {
    color: rgba(255, 255, 255, 0.40);
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.02em;

    position: absolute;
    top: 28px;
    left: 28px;
}

@media only screen and (min-width: 768px) {
    .our-courses-list-item-number {
        top: 32px;
        left: 32px;

    }
}

.our-courses-item-link {
    position: absolute;
    top: 28px;
    right: 28px;

    width: 32px;
    height: 32px;

    background-color: #1D1D1D;
    border-radius: 50%;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
    .our-courses-item-link {
        top: 32px;
        right: 32px;
    }
}

.our-courses-item-link:hover,
.our-courses-item-link:focus {
    background-color: #BEA69E;
}

.our-courses-link-arrow {
    stroke: #777777;
    background-color: transparent;
    flex-shrink: 0;
}

.our-courses-link-arrow:hover,
.our-courses-link-arrow:focus {
    stroke: #FFFFFF;
}

.our-courses-item-title {
    color: #FFF;
    font-family: DM Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    
   
}

.our-courses-item-desc {
    color: rgba(255, 255, 255, 0.50);
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.02em;
   
}

@media only screen and (min-width: 768px) {
    .our-courses-item-desc {
        font-size: 16px;
        line-height: 1.25;

    }
}

