/* ===== HERO ======= */
.section {}

@media screen and (min-width: 768px) {
  .section {}
}

@media screen and (min-width: 1280px) {
  .section {}
}

.hero {
  position: relative;
  padding-top: 90px;
  padding-bottom: 80px;
  margin: 0 auto;
  padding: 90px 20px 80px;
  background-image: url(../img/bg-img/bg-img-mobile.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

@media (min-resolution: 192dpi) {
  .hero {
    background-image: url(../img/bg-img/bg-img-mobile@2x.png);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: url(../img/bg-img/bg-img-tablet.png);
    padding-top: 120px;
    padding-bottom: 100px;
  }
}

@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero {
    background-image: url(../img/bg-img/bg-img-tablet@2x.png);
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    background-image: url(../img/bg-img/bg-img-dt.png);
    padding-top: 160px;
    padding-bottom: 150px;
  }
}

@media only screen and (min-width: 1280px) and (min-resolution: 192dpi) {
  .hero {
    background-image: url(../img/bg-img/bg-img-dt@2x.png);
  }
}

.hero-container {
  position: relative;
  display: flex;
  width: 100%;
  display: flex;
  padding: 40px 20px 0;
  flex-direction: column;
  border-radius: 30px;
  background: #1d1d1d;
}

@media screen and (min-width: 768px) {
  .hero-container {
    padding: 64px 32px 0;
  }
}

@media screen and (min-width: 1280px) {
  .hero-container {
    padding: 80px 50px 50px;
  }
}

.hero-title {
  color: #fff;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -0.04em;
  margin: 0 auto;
  margin-bottom: 20px;
}

.hero-title span {
  color: #bea69e;
  font-style: italic;
}

.hero-text {
  color: #fff;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  margin-bottom: 40px;
  max-width: 295px;
}

.hero-img {
  position: absolute;
  bottom: 0;
  right: 38px;
  max-width: 259px;
  width: 100%;
  max-height: 314px;
  object-fit: contain;
}

@media screen and (min-width: 768px) {
  .hero-img {
    max-width: 393px;
    max-height: 434px;
    right: 155px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-img {
    max-width: 397px;
    max-height: 520px;
    right: 50px;
  }
}

@media screen and (min-width: 1440px) {
  .hero-img {
    right: 100px;
  }
}