<section class="mentor">
  <div class="container">
    <h2 class="mentor-title">
      Our <span class="mentor-title-span">Mentors</span>
    </h2>
    <ul class="mentor-list">
      <li class="mentor-item">
        <picture>
          <source
            media="(min-width: 320px)"
            srcset="
              ./img/our-mentors-img/emilia.webp    1x,
              ./img/our-mentors-img/emilia@2x.webp 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./img/our-mentors-img/emilia.png    1x,
              ./img/our-mentors-img/emilia@2x.png 2x
            "
          />
          <img
            class="mentor-icon"
            src="./img/our-mentors-img/emilia.png"
            alt="Emilia Smith"
            width="180"
          />
        </picture>
        <div class="mentor-content">
          <h3 class="mentor-member">Emilia Smith</h3>
          <p class="mentor-desc">1.5 years of experience</p>
        </div>
      </li>
      <li class="mentor-item">
        <picture>
          <source
            media="(min-width: 320px)"
            srcset="
              ./img/our-mentors-img/alex.webp    1x,
              ./img/our-mentors-img/alex@2x.webp 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./img/our-mentors-img/alex.png    1x,
              ./img/our-mentors-img/alex@2x.png 2x
            "
          />
          <img
            class="mentor-icon"
            src="./img/our-mentors-img/alex.png"
            alt="Alex Lebedev"
            width="180"
          />
        </picture>
        <div class="mentor-content">
          <h3 class="mentor-member">Alex Lebedev</h3>
          <p class="mentor-desc">3.5 years of experience</p>
        </div>
      </li>
      <li class="mentor-item">
        <picture>
          <source
            media="(min-width: 320px)"
            srcset="
              ./img/our-mentors-img/mia.webp    1x,
              ./img/our-mentors-img/mia@2x.webp 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./img/our-mentors-img/mia.png    1x,
              ./img/our-mentors-img/mia@2x.png 2x
            "
          />
          <img
            class="mentor-icon"
            src="./img/our-mentors-img/mia.png"
            alt="Mia Dubrovska"
            width="180"
          />
        </picture>
        <div class="mentor-content">
          <h3 class="mentor-member">Mia Dubrovska</h3>
          <p class="mentor-desc">2.0 years of experience</p>
        </div>
      </li>
      <li class="mentor-item">
        <picture>
          <source
            media="(min-width: 320px)"
            srcset="
              ./img/our-mentors-img/eliot.webp    1x,
              ./img/our-mentors-img/eliot@2x.webp 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./img/our-mentors-img/eliot.png    1x,
              ./img/our-mentors-img/eliot@2x.png 2x
            "
          />
          <img
            class="mentor-icon"
            src="./img/our-mentors-img/eliot.png"
            alt="Eliot Kovalev"
            width="180"
          />
        </picture>
        <div class="mentor-content">
          <h3 class="mentor-member">Eliot Kovalev</h3>
          <p class="mentor-desc">4.0 years of experience</p>
        </div>
      </li>
    </ul>
  </div>
</section>
