<!-- =======================  Hero  ================== -->

<section class="section hero">
  <div class="container hero-container">
    <h1 class="hero-title">
      Discover the magic of <span>photography</span> in our school
    </h1>
    <p class="hero-text">
      Our photography school offers an unforgettable journey, where you can
      learn the basics of composition, master technical skills, translate your
      unique ideas.
    </p>
    <div>
      <ul class="hero-list">
        <li class="hero-list-item">
          <picture>
            <source
              media="(max-width: 767.98px)"
              srcset="
                /img/hero-img/mobile/girl-1.webp     1x,
                /img/hero-img/mobile/girl-1.@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767.98px)"
              srcset="
                /img/hero-img/mobile/girl-1.png     1x,
                /img/hero-img/mobile/girl-1.@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/hero-img/tablet/girl-1-tablet.webp     1x,
                /img/hero-img/tablet/girl-1-tablet.@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/hero-img/tablet/girl-1-tablet.png     1x,
                /img/hero-img/tablet/girl-1-tablet.@2x.png 2x
              "
              type="image/png"
            />
            <img
              class="hero-item-imag"
              src="/img/hero-img/mobile/girl-1.png"
              alt="girl-photo"
              width="44"
              height="44"
              loading="lazy"
            />
          </picture>
        </li>
        <li class="hero-list-item">
          <picture>
            <source
              media="(max-width: 767.98px)"
              srcset="
                /img/hero-img/mobile/boy.webp     1x,
                /img/hero-img/mobile/boy.@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767.98px)"
              srcset="
                /img/hero-img/mobile/boy.png     1x,
                /img/hero-img/mobile/boy.@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/hero-img/tablet/boy-tablet.webp     1x,
                /img/hero-img/tablet/boy-tablet.@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/hero-img/tablet/boy-tablet.png     1x,
                /img/hero-img/tablet/boy-tablet.@2x.png 2x
              "
              type="image/png"
            />
            <img
              class="hero-item-imag"
              src="/img/hero-img/mobile/boy.png"
              alt="boy-photo"
              width="44"
              height="44"
              loading="lazy"
            />
          </picture>
        </li>
        <li class="hero-list-item">
          <picture>
            <source
              media="(max-width: 767.98px)"
              srcset="
                /img/hero-img/mobile/girl.webp     1x,
                /img/hero-img/mobile/girl.@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767.98px)"
              srcset="
                /img/hero-img/mobile/girl.png     1x,
                /img/hero-img/mobile/girl.@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/hero-img/tablet/girl-tablet.webp     1x,
                /img/hero-img/tablet/girl-tablet.@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/hero-img/tablet/girl-tablet.png     1x,
                /img/hero-img/tablet/girl-tablet.@2x.png 2x
              "
              type="image/png"
            />
            <img
              class="hero-item-imag"
              src="/img/hero-img/mobile/girl.png"
              alt="girl-photo"
              width="44"
              height="44"
              loading="lazy"
            />
          </picture>
        </li>
      </ul>
      <div>
        <div>
          <a class="hero-list-text" href="#goReviews">Our happy students</a>
          <svg class="hero-icon-arrow" width="18" height="9">
            <use href="/img/icons.svg#icon-arrow"></use>
          </svg>
        </div>
        <div>
          <svg class="hero-icon-star" width="20" height="20">
            <use href="/img/icons.svg#icon-star"></use>
          </svg>
          <p class="hero-text-review">Reviews</p>
          <p class="text-review-item">+1500</p>
        </div>
      </div>
    </div>
    <picture>
      <!-- Desktop max-->
      <source
        media="(min-width: 1440px)"
        srcset="
          /img/hero-img/desctop/photographer.png    1x,
          /img/hero-img/desctop/photographer@2x.png 2x
        "
      />
      <!-- Desktop -->
      <source
        media="(min-width: 1280px)"
        srcset="
          /img/hero-img/desctop/photographer.png    1x,
          /img/hero-img/desctop/photographer@2x.png 2x
        "
      />
      <!-- Tablet-->
      <source
        media="(min-width: 768px)"
        srcset="
          /img/hero-img/tablet/photographer.png    1x,
          /img/hero-img/tablet/photographer@2x.png 2x
        "
      />
      <!-- Mobail-->
      <source
        media="(max-width: 767px)"
        srcset="
          /img/hero-img/mobile/photographer.png    1x,
          /img/hero-img/mobile/photographer@2x.png 2x
        "
      />
      <img
        src="/img/hero-img/mobile/photographer.png"
        alt="red head man"
        width="397"
        height="520"
        class="hero-img"
      />
    </picture>
  </div>
</section>
