<!--Mobile Menu-->

<div class="mobile-menu">
  <button class="mobile-btn" type="button">
    <svg class="mobile-icon" width="32" height="32">
      <use href="../../img/icons.svg#icon-x"></use>
    </svg>
  </button>
  <ul class="mobile-list">
    <li class="mobile-list-item">
      <a class="mobile-link current" href="">About us</a>
    </li>
    <li class="mobile-list-item">
      <a class="mobile-link" href="">Our courses</a>
    </li>
    <li class="mobile-list-item">
      <a class="mobile-link" href="">Our mentors</a>
    </li>
    <li class="mobile-list-item">
      <a class="mobile-link" href="">Reviews</a>
    </li>
    <li class="mobile-list-item">
      <a class="mobile-link" href="">Contacts</a>
    </li>
  </ul>
  <div class="mobile-image">
    <img />
  </div>
</div>
