<section class="container container-signup">
  <div class="container-section-signup">
    <h2 class="signup-header-sign">Sign <a class="signup-header-up">Up</a></h2>
    <p class="signup-supporting-text">
      Please use the form below to contact us. Enter your name, email, and
      message and we'll get back to you shortly.
    </p>
    <form class="signup-form" name="signup-form">
      <div class="signup-field">
        <input
          class="signup-input signup-name active"
          pattern="[A-Za-z]{25}"
          type="text"
          id="user-name"
          name="user-name"
          placeholder="Enter your name"
        />
      </div>

      <div class="signup-field">
        <input
          class="signup-input signup-email"
          pattern=".+@gmail\.com"
          type="email"
          id="user_email"
          name="user_email"
          placeholder="Enter your email"
        />
      </div>

      <div class="signup-message">
        <textarea
          class="signup-input signup-message-text"
          name="user-comment"
          id="user-comment"
          rows="7"
          placeholder="Message"
        ></textarea>
      </div>

      <button class="signup-send-button" type="submit">Send</button>

      <p class="signup-text">
        By clicking on “Send” button, you agree to our
        <a class="signup-privacy" href="">Privacy Policy</a>, and allow Promodo
        to use this information for marketing purposes.
      </p>
    </form>
  </div>
  <div class="container-section-block">
    <div class="container-section-rectangle-5">
      <img
        class="container-img-rectangle-5"
        srcset="
          /src/img/sign-up-img/rectangle5.png    1x,
          /src/img/sign-up-img/rectangle5@2x.png
        "
        src="/src/img/sign-up-img/rectangle5.png"
        alt="Video Entry"
      />
    </div>
    <div class="container-section-rectangle-4">
      <img
        class="container-section-img-rectangle-4"
        srcset="
          /src/img/sign-up-img/rectangle4.png    1x,
          /src/img/sign-up-img/rectangle4@2x.png
        "
        src="/src/img/sign-up-img/rectangle4.png"
        alt="Isabella Mendes"
      />
    </div>
  </div>
</section>
