<footer class="footer">
  <div class="container footer-block">
    
      <div class="address">
        <svg class="footer-logo" width="123" height="16">
          <use href="/img/icons.svg#icon-logo"></use>
        </svg>
        <address class="footer-address">
          <ul class="address-list">
            <li class="adress-item">
              <a class="adress-item-link" href="tel:+380665438912"
                >UK: +38 066 543 8912</a
              >
            </li>
            <li class="adress-item">Ukraine, Kyiv</li>
          </ul>
        </address>
      </div>
      <div class="socials">
        <ul class="socials-list">
          <li class="socials-item">Instagram</li>
          <li class="socials-item">Facebook</li>
          <li class="socials-item">Youtube</li>
        </ul>
        <ul class="socials-list">
          <li class="socials-item">About us</li>
          <li class="socials-item">Our courses</li>
          <li class="socials-item">Our mentors</li>
          <li class="socials-item">Reviews</li>
          <li class="socials-item">contacts</li>
        </ul>
     
    </div>
    <form class="subcribe-form" name="subcribe">
      <label class="subcribe-field"
        ><input
          class="subcribe-input"
          type="text"
          name="email"
          id="email"
          placeholder="Enter your email"
      /></label>
      <button class="subcribe-btn" type="submit">Go</button>
    </form>
  </div>
  <div class="container privacy">
    <ul class="privacy-list">
      <li class="privacy-item">Privacy Policy <p>Public Offering Agreement</p></li>
      <li class="privacy-item">2023 Focus Frame <p>© All rights reserved</p></li>
    </ul>
  </div>
</footer>
