<footer class="footer">
  <div class="container">
    <div class="wrapper">
      <div class="footer--container-logo">
        <svg class="footer--logo" width="124" height="17">
          <use href="/img/icons.svg#icon-logo"></use>
        </svg>
        <div class="footer--container-loc">
          <h3 class="footer--loc-add">UA: +38 066 543 8912</h3>
          <h3 class="footer--loc-add">Ukraine, Kyiv</h3>
        </div>
      </div>
      <div class="footer--container-content">
        <div class="social--container">
          <a href="#" class="social--link">INSTAGRAM</a>
          <a href="#" class="social--link">FACEBOOK</a>
          <a href="#" class="social--link">YOUTUBE</a>
        </div>
        <div class="menu--container">
          <a href="#" class="menu--link">ABOUT US</a>
          <a href="#" class="menu--link">OUR COURSES</a>
          <a href="#" class="menu--link">OUR MENTORS</a>
          <a href="#" class="menu--link">REVIEWS</a>
          <a href="#" class="menu--link">CONTACTS</a>
        </div>
      </div>
      <form action="#" class="footer--container-form">
        <input
          class="footer--input"
          type="text"
          placeholder="Enter your email"
        />
        <button class="btn--go">Go</button>
      </form>
    </div>
    <div class="wrapper--copyright">
      <div class="footer--container-privacy">
        <h3 class="footer--privacy-title">Privacy Policy</h3>
        <h3 class="footer--privacy-title">Public Offering Agreement</h3>
      </div>
      <div class="footer--container-copyright">
        <h3 class="footer--copyright-title">2023 Focus Frame</h3>
        <h3 class="footer--copyright-title">© All rights reserved</h3>
      </div>
    </div>
  </div>
</footer>
