<header class="header">
  <div class="container header-container">
    <div class="logo-nav">
      <a class="header-logo" href="./index.html">
        <svg class="header-logo-icon-focus" width="127" height="20">
          <use href="/img/icons.svg#icon-logo"></use>
        </svg>
      </a>
      <nav class="nav">
        <ul class="nav-list">
          <li class="nav-list-item">
            <a class="header-nav-link" href="#about us">About Us</a>
          </li>
          <li class="nav-list-item">
            <a class="header-nav-link" href="#our courses">Our Courses</a>
          </li>
          <li class="nav-list-item">
            <a class="header-nav-link" href="#our mentors">Our Mentors</a>
          </li>
          <li class="nav-list-item">
            <a class="header-nav-link" href="#reviews">Reviews</a>
          </li>
          <li class="nav-list-item">
            <a class="header-nav-link" href="#contacts">Contacts</a>
          </li>
        </ul>
      </nav>
      <a class="logo-link-pic" href="#sign up">
        <svg width="16" height="16">
          <use class="logo-icon-svg" href="icons.svg#icon-camera"></use>
        </svg>
      </a>

      <button class="burger-btn" type="button">
        <svg class="burger-btn-icon" width="32" height="22">
          <use class="burger-svg" href="icons.svg#icon-nav"></use>
        </svg>
      </button>
    </div>
    <button class="signup-button" type="button" aria-label="Open menu button">
      <span class="signup-span">SIGN UP</span>
    </button>
  </div>
</header>
