<header class="heder">
  <div class="container">
    <nav class="nav">
      <a href="./index.html" class="logo"
        ><svg width="123" height="16" class="logo-icon">
          <use href="../img/icons.svg#icon-logo"></use></svg
      ></a>
      <button class="menu-btn" type="button" aria-label="Open menu button">
        <svg class="menu-btn-icon" width="24" height="24">
          <use href="./images/icons.svg#icon-menu-btn"></use>
        </svg>
      </button>
      <ul class="list">
        <li><a href="./index.html" class="nav-link active">Studio</a></li>
        <li><a href="" class="nav-link">Portfolio</a></li>
        <li><a href="" class="nav-link">Contacts</a></li>
      </ul>
    </nav>
    <address class="address">
      <ul class="list">
        <li>
          <a href="mailto:info@devstudio.com" class="address-link"
            >info@devstudio.com</a
          >
        </li>
        <li>
          <a href="tel:+110001111111" class="address-link"
            >+11 (000) 111-11-11</a
          >
        </li>
      </ul>
    </address>
  </div>
</header>
