.footer {
  background-image: url(/img/bg-img/bg-img-desctop.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.container {
}
.footer-block {
  display: flex;
  flex-direction: column;
  padding: 40px 0;
  justify-content: space-between;
  gap: 40px;
}
@media only screen and (min-width: 768px) {
  .footer-block {
    flex-direction: row;
  }
}
.address {
  max-width: 142px;
  width: 100%;
}
.footer-logo {
  margin-bottom: 16px;
  fill: #ffffff;
}
.footer-address {
  font-size: 14px;
  font-style: normal;
  line-height: 1.29;
}
.address-list {
}
.adress-item {
}
.adress-item-link {
}
.socials {
  display: flex;
  gap: 40px;
}
@media only screen and (min-width: 768px) {
  .socials {
    gap: 25px;
  }
}
@media only screen and (min-width: 1280px) {
  .socials {
    gap: 50px;
  }
}
@media only screen and (min-width: 1440px) {
  .socials {
    gap: 100px;
  }
}
.socials-list {
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 14px;

  font-size: 14px;
  text-transform: uppercase;
}

.socials-item {
}
@media only screen and (min-width: 768px) {
  .socials-item {
    min-width: 97px;
  }
}
.subcribe-form {
  display: flex;
  gap: 8px;
  justify-content: space-between;
}
.subcribe-field {
  width: 100%;
}
.subcribe-input {
  width: 100%;
  height: 60px;
  border-radius: 12px;
  background: #fff;
  padding: 20px 18px;
}
.subcribe-input::placeholder {
  color: #121212;
  line-height: 1.25;
}
.subcribe-btn {
  min-width: 60px;
  height: 60px;
  border-radius: 12px;
  background: #1d1d1d;
}
.privacy {
}
.privacy-list {
  display: flex;
  justify-content: space-between;
  /* gap: 72px; */
  flex-wrap: nowrap;
  padding-bottom: 25px;
}
.privacy-item {
  font-size: 12px;
  line-height: 1.33;
  min-width: 116px;
  max-width: 147px;
}

@media only screen and (min-width: 768px) {
  .privacy-item {
    min-width: 134px;
    max-width: 171px;
    font-size: 14px;
    line-height: 1.29;
  }
}
