.heder {
  display: flex;
  max-width: 375px;
  padding: 20px 20px 10px;
  margin: 0 auto;
  background-color: #121212;
}

@media screen and (min-width: 768px) {
  .heder {
    max-width: 768px;
    /* padding: 0; */
  }
}

@media screen and (min-width: 1280px) {
  .heder {
    max-width: 1280px;
    /* padding: 0; */
  }
}

@media screen and (min-width: 1440px) {
  .heder {
    max-width: 1440px;
    /* padding: 0; */
  }
}

.heder .container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9px 20px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.20);
}

.logo {
  display: flex;
  align-items: center;
  color: #ffffff;
  margin-right: 90px;
}

.logo-icon {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: auto;
  }
}

@media screen and (min-width: 1280px) {
  .logo {
    margin-right: 97px;
  }
}

@media screen and (min-width: 1440px) {
  .logo {
    margin-right: 209px;
  }
}


/* Site nav */

.nav {
  display: flex;
  margin-right: auto;
  align-items: center;
  justify-content: center;
}

.nav .list {
  display: none;
  gap: 40px;
}

@media screen and (min-width: 1280px) {
  .nav .list {
    display: flex;
  }
}

.nav-link {
  position: relative;
  display: block;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  color: #BEA69E;
}

.nav-link.active {
  color: #404BBF;
}

.nav-link.active::after {
  content: '';
  position: absolute;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404BBF;
}

.nav-link:hover,
.nav-link:focus {
  color: #747bff;
}

/* Mobile menu btn*/

.favicon-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #1D1D1D;
  padding: 0;
  border: 0;
  border: none;
  z-index: 2;
}

.favicon-btn-icon {
  fill: rgba(190, 166, 158, 0.4);
  z-index: 10;
}

.menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 32px;
  height: 22px;
  background: #121212;
  padding: 0;
  border: 0;
  border: none;
  z-index: 2;
}

.menu-btn-icon {
  stroke: #ffffff;
  z-index: 10;
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.button {
  cursor: pointer;
  background-color: #ffffff;
  color: #121212;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.56;
  letter-spacing: 0.64px;
  text-transform: uppercase;
  border-radius: 12px;
  padding: 16px 84px;
  min-width: 238px;
  height: 60px;
  border: none;
  visibility: hidden;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  color: #BEA69E;
  background-color: #1D1D1D;
}


@media screen and (min-width: 768px) {
  .button {
    visibility: visible;
  }
}

@media screen and (min-width: 1280px) {
  .logo {
    margin-right: 97px;
  }
}

@media screen and (min-width: 1440px) {
  .logo {
    margin-right: 209px;
  }
}