/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./footer.css');
@import url('./header.css');
@import url('./sections/section-about-us.css');
@import url('./sections/section-block.css');
@import url('./sections/section-hero.css');
@import url('./sections/section-menu.css');
@import url('./sections/section-our-courses.css');
@import url('./sections/section-our-mentors.css');
@import url('./sections/section-reviews.css');
@import url('./sections/section-sign-up.css');

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: DM sans, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: -0.32px;

  color: #ffffff;
  background-color: #121212;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

.section {
  overflow-x: hidden;
}

.container {
  min-width: 320px;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}