/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./footer.css');
@import url('./header.css');
@import url('./sections/section-about-us.css');
@import url('./sections/section-block.css');
@import url('./sections/section-hero.css');
@import url('./sections/section-menu.css');
@import url('./sections/section-our-courses.css');
@import url('./sections/section-our-mentors.css');
@import url('./sections/section-reviews.css');
@import url('./sections/section-sign-up.css');

:root {
  font-family: DM sans, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: -0.32px;

  color: #ffffff;
  /* background-color: #121212; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  max-width: auto;
  padding: 0 20px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 100px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 100px;
  }
}